._*
.DS_Store
~*
local-storage/pcb/weathernerd-hub/*.bak
local-storage/pcb/weathernerd-hub/_autosave-weathernerd-hub.*
local-storage/pcb/weathernerd-hub/.kicad-mcp
local-storage/pcb/weathernerd-hub/weathernerd-hub-backups
